@import "tailwindcss";

@theme {
  --pattern: color-mix(in oklab, var(--color-white) 10%, transparent);
  --gutter-width: calc(var(--spacing) * 6);

  --font-ibm-mono: IBM Plex Mono;
}

@layer components {
  .bg-pattern {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--pattern) 0,
      var(--pattern) 1px,
      transparent 0,
      transparent 50%
    );
    background-repeat: repeat;
    background-size: 10px 10px;
    background-attachment: fixed;
  }
}
